<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript">
        // `energy_type` and object of consumption per year per state => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var energy_type = {{{ENERGY_TYPE}}};
        var energy_counts = {{{ENERGY_COUNTS}}}; // dictionary of arrays (e.g. {AK: [...], AL: [...], AR: [...], ...})
    </script>
</head>
<body>
    <!-- We need a line chart for this table -->
    <label for="viewBy" id="viewLabel">Choose whether to view by year, state, or energy source</label>

    <select name="viewBy" id="viewBy">
        <option value="year">Year</option>
        <option value="state">State</option>
        <option value="energy">Energy Source</option>
    </select>
    <button id="submit" type="button">Submit</button>

    <label for="chooseYear" id="yearLabel" style="visibility: hidden;">Choose Year</label>

    <input id="chooseYear" type="text" style="visibility: hidden;"/>

    <button id="submitYear" type="button" style="visibility: hidden;">Submit</button>



    <label for="chooseState" id="stateLabel" style="visibility: hidden;">Choose State</label>

    <select name="chooseState" id="chooseState" style="visibility: hidden;">
        <option value="AK">Alaska</option>
        <option value="AL">Alabama</option>
        <option value="AR">Arkansas</option>
        <option value="AZ">Arizona</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DC">District of Columbia</option>
        <option value="DE">Deleware</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="IA">Iowa</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="MA">Massachusetts</option>
        <option value="MD">Maryland</option>
        <option value="ME">Maine</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MO">Missouri</option>
        <option value="MS">Mississippi</option>
        <option value="MT">Montana</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="NE">Nebraska</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NV">Nevada</option>
        <option value="NY">New York</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VA">Virginia</option>
        <option value="VT">Vermont</option>
        <option value="WA">Washington</option>
        <option value="WI">Wisconsin</option>
        <option value="WV">West Virginia</option>
        <option value="WY">Wyoming</option>
        
    </select>

    <button id="submitState" type="button" style="visibility: hidden;">Submit</button>



    <label for="chooseEnergy" id="energyLabel" style="visibility: hidden;">Choose Energy Source</label>

    <select name="chooseEnergy" id="chooseEnergy" style="visibility: hidden;">
        <option value="coal">Coal</option>
        <option value="natural_gas">Natural Gas</option>
        <option value="nuclear">Nuclear</option>
        <option value="petroleum">Petroleum</option>
        <option value="renewable">Renewable</option>
    </select>

    <button id="submitEnergy" type="button" style="visibility: hidden;">Submit</button>
    <button id="swapName" type="button">Swap to Abbreviations</button>
    <button id="swapAbbreviation" type="button">Swap to Full Names</button>


    <button id="prev" type="button">previous</button>
    <button id="next" type="button">next</button>

    <script type="text/javascript">

        document.getElementById("next").onclick = function () {
            if(document.getElementById("header").innerText == "Coal") {
                location.href = "http://localhost:8000/energy/natural_gas";
            } else if(document.getElementById("header").innerText == "Natural Gas"){
                location.href = "http://localhost:8000/energy/nuclear";
            } else if(document.getElementById("header").innerText == "Nuclear"){
                location.href = "http://localhost:8000/energy/petroleum";
            } else if(document.getElementById("header").innerText == "Petroleum"){
                location.href = "http://localhost:8000/energy/renewable";
            } else if(document.getElementById("header").innerText == "Renewable"){
                location.href = "http://localhost:8000/energy/coal";
            }
            
        }
        document.getElementById("prev").onclick = function () {
            if(document.getElementById("header").innerText == "Coal") {
                location.href = "http://localhost:8000/energy/renewable";
            } else if(document.getElementById("header").innerText == "Natural Gas"){
                location.href = "http://localhost:8000/energy/coal";
            } else if(document.getElementById("header").innerText == "Nuclear"){
                location.href = "http://localhost:8000/energy/natural_gas";
            } else if(document.getElementById("header").innerText == "Petroleum"){
                location.href = "http://localhost:8000/energy/nuclear";
            } else if(document.getElementById("header").innerText == "Renewable"){
                location.href = "http://localhost:8000/energy/petroleum";
            }
    
        }

        document.getElementById("swapName").onclick = function () {
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Alaska/g, 'AK');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Alabama/g, 'AL');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Arkansas/g, 'AR');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Arizona/g, 'AZ');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/California/g, 'CA');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Colorado/g, 'CO');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Connecticut/g, 'CT');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/District of Columbia/g, 'DC');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Delaware/g, 'DE');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Florida/g, 'FL');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Georgia/g, 'GA');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Hawaii/g, 'HI');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Iowa/g, 'IA');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Idaho/g, 'ID');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Illinois/g, 'IL');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Indiana/g, 'IN');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Kansas/g, 'KS');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Kentucky/g, 'KY');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Louisiana/g, 'LA');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Massachusetts/g, 'MA');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Maryland/g, 'MD');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Maine/g, 'ME');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Michigan/g, 'MI');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Minnesota/g, 'MN');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Missouri/g, 'MO');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Mississippi/g, 'MS');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Montana/g, 'MT');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/North Carolina/g, 'NC');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/North Dakota/g, 'ND');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Nebraska/g, 'NE');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/New Hampshire/g, 'NH');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/New Jersey/g, 'NJ');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/New Mexico/g, 'NM');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Nevada/g, 'NV');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/New York/g, 'NY');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Ohio/g, 'OH');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Oklahoma/g, 'OK');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Oregon/g, 'OR');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Pennsylvania/g, 'PA');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Rhode Island/g, 'RI');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/South Carolina/g, 'SC');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/South Dakota/g, 'SD');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Tennessee/g, 'TN');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Texas/g, 'TX');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Utah/g, 'UT');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/West Virginia/g, 'WV');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Virginia/g, 'VA');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Vermont/g, 'VT');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Washington/g, 'WA');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Wisconsin/g, 'WI');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/Wyoming/g, 'WY');
        }

        document.getElementById("swapAbbreviation").onclick = function () {
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/AK/g, 'Alaska');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/AL/g, 'Alabama');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/AR/g, 'Arkansas');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/AZ/g, 'Arizona');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/CA/g, 'California');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/CO/g, 'Colorado');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/CT/g, 'Connecticut');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/DC/g, 'District of Columbia');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/DE/g, 'Delaware');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/FL/g, 'Florida');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/GA/g, 'Georgia');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/HI/g, 'Hawaii');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/IA/g, 'Iowa');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/ID/g, 'Idaho');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/IL/g, 'Illinois');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/IN/g, 'Indiana');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/KS/g, 'Kansas');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/KY/g, 'Kentucky');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/LA/g, 'Louisiana');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/MA/g, 'Massachusetts');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/MD/g, 'Maryland');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/ME/g, 'Maine');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/MI/g, 'Michigan');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/MN/g, 'Minnesota');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/MO/g, 'Missouri');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/MS/g, 'Mississippi');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/MT/g, 'Montana');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/NC/g, 'North Carolina');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/ND/g, 'North Dakota');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/NE/g, 'Nebraska');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/NH/g, 'New Hampshire');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/NJ/g, 'New Jersey');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/NM/g, 'New Mexico');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/NV/g, 'Nevada');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/NY/g, 'New York');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/OH/g, 'Ohio');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/OK/g, 'Oklahoma');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/OR/g, 'Oregon');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/PA/g, 'Pennsylvania');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/RI/g, 'Rhode Island');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/SC/g, 'South Carolina');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/SD/g, 'South Dakota');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/TN/g, 'Tennessee');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/TX/g, 'Texas');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/UT/g, 'Utah');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/VA/g, 'Virginia');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/VT/g, 'Vermont');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/WA/g, 'Washington');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/WI/g, 'Wisconsin');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/WV/g, 'West Virginia');
            document.getElementById("tableData").innerHTML = document.getElementById("tableData").innerHTML.replace(/WY/g, 'Wyoming');
        }


        document.getElementById("submit").onclick = function () {
            document.getElementById("viewLabel").style.visibility = "hidden";
            document.getElementById("viewBy").style.visibility = "hidden";
            document.getElementById("submit").style.visibility = "hidden";
            var selected = document.getElementById("viewBy");
            console.log(selected.options[selected.selectedIndex].text);
            if(selected.options[selected.selectedIndex].text == "Year") {
                document.getElementById("yearLabel").style.visibility = "visible";
                document.getElementById("chooseYear").style.visibility = "visible";
                document.getElementById("submitYear").style.visibility = "visible";
            }
            else if(selected.options[selected.selectedIndex].text == "State") {
                document.getElementById("stateLabel").style.visibility = "visible";
                document.getElementById("chooseState").style.visibility = "visible";
                document.getElementById("submitState").style.visibility = "visible";
            }
            else if(selected.options[selected.selectedIndex].text == "Energy Source") {
                document.getElementById("energyLabel").style.visibility = "visible";
                document.getElementById("chooseEnergy").style.visibility = "visible";
                document.getElementById("submitEnergy").style.visibility = "visible";
            }
        };

        document.getElementById("submitYear").onclick = function () {
            location.href = "http://localhost:8000/year/" + document.getElementById("chooseYear").value;
        }

        document.getElementById("submitState").onclick = function () {
            location.href = "http://localhost:8000/state/" + document.getElementById("chooseState").value;
        }

        document.getElementById("submitEnergy").onclick = function () {
            location.href = "http://localhost:8000/energy/" + document.getElementById("chooseEnergy").value;
        }
    </script>
    <script>
        window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title:{
                text: "Each State's Yearly Consumption"
            },
            axisX: {
                valueFormatString: "YYYY"
            },
            data: [
            {{{ENERGY_COUNTS}}}
            ]
        });
        chart.render();

        }
    </script>
    

    <!-- energy type here -->
    <h1 id="header">{{{energy here}}}</h1>
    
     <!-- image of energy type here -->
    <img src="{{{energy image here}}}"/>
    
    <table id="tableData">
        
        <tr>
            <th>
                year
           </th>
            <th> 
                AK
            </th>
            <th>
                AL
            </th>
            <th>
                AR
            </th>
            <th>
                AZ
            </th>
            <th>
                CA
            </th>
            <th>
                CO
            </th>
            <th>
                CT
            <th>
                DC
            </th>
            <th>
                DE
            </th>
            <th>
                FL
            </th>
            <th>
                GA
            </th>
            <th>
                HI
            </th>
            <th>
                IA
            </th>
            <th>
                ID
            </th>
            <th>
                IL
            </th>
            <th>
                IN
            </th>
            <th>
                KS
            </th>
            <th>
                KY
            </th>
            <th>
                LA
            </th>
            <th>
                MA
            </th>
            <th>
                MD
            </th>
            <th>
                ME
            </th>
            <th>
                MI
            </th>
            <th>
                MN
            </th>
            <th>
                MO
            </th>
            <th>
                MS
            </th>
            <th>
                MT
            </th>
            <th>
                NC
            </th>
            <th>
                ND
            </th>
            <th>
                NE
            </th>
            <th>
                NH
            </th>
            <th>
                NJ
            </th>
            <th>
                NM
            </th>
            <th>
                NV
            </th>
            <th>
                NY
            </th>
            <th>
                OH
            </th>
            <th>
                OK
            </th>
            <th>
                OR
            </th>
            <th>
                PA
            </th>
            <th>
                RI
            </th>
            <th>
                SC
            </th>
            <th>
                SD
            </th>
            <th>
                TN
            </th>
            <th>
                TX
            </th>
            <th>
                UT
            </th>
            <th>
                VA
            </th>
            <th>
                VT
            </th>
            <th>
                WA
            </th>
            <th>
                WI
            </th>
            <th>
                WV
            </th>
            <th>
                WY
            </th>
        </tr>
        
        {{{data here}}}
        
        
        
    </table>


    
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>

